body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }



.mae{
    display:flex;
    flex-direction:row;
    width: 100%;
}


button{
    cursor:pointer;
}

.lado-esquerdo{
position: fixed;
width: 18em;
height: 100VH;
left: 0px;
top: 0px;

background: #2B3031;
}


.cabecalho{
    display:flex;
    flex-direction:row;
    margin: 2em;
    align-items: center;
    justify-content: center;
}


.logo{
    border-right: 10px solid transparent;
}



.nome{
    font: 700 1.2em Roboto;
}

span{
    color: #119FDC;
}


.barra{
   background-color: #262626;
   color: #262626;
   height: 3em;
}


.especificacoes{
    display:flex;
    flex-direction:row;
    
    justify-content: space-between;

}


.opcao{
    font: 700 1.2em Roboto;
    color:white;
    margin-left: 2em;
}


.setinha{
    margin-top: 0.5em;
    margin-right: 1em;
}


.al{
    display:flex;
    flex-direction:row;
    background-color: white;
    height: 3em;
    margin-top: 2em;
}


.barra-rosa{}




.click{
    font: 700 1.2em Roboto;
    margin: .5em 2em;
}









.lado-direito{
    display:flex;
    flex-direction: column;
    background-color: #F5F5F5;
    margin-left: 18em;
    height: 190vh;
    width: 68em;
}




.cabecalho2{
    display:flex;
    flex-direction:row;
    background-color: white;
    position: absolute;
    width: 65.9em;
    height: 66px;
    top: 17px;
    margin-left: 1.6em;
    left: 16.4em;
    margin-top: -1em;

}



.imgs{
    margin-left: 1em;
}

.imagem button{
    padding: 0em;
    border-radius: 3em;
}


.imagem{
    border-right: 10px solid transparent;
    height: 0em;
}



.bolinha{
    margin-left: 3em;
}



.n{
    margin-left: 3.4em;
    margin-top: -1.2em;
    font: 700 1em Roboto;
}



.frase{
    font: 700 1em Roboto;
    align-items: flex-end;

    margin-top: 2em;
}



.opcoes{ 
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-left: 41em;
    margin-top: -0.5em;
}


.recarregar button{
    display:flex;
    align-items: center;
    border-radius: 50%;
    background-color: #119FDC;
    border: black;
    height: 34px;
    width: 34px;
}



.recarregar{
    border-right: 10px solid transparent;
}

.sair button{
    display:flex;
    align-items: center;
    border-radius: 50%;
    background-color: #119FDC;
    border: black;
    height: 34px;
    width: 34px;
}

.sair{
    border-right: 10px solid transparent;
}




.pt2{
    background-color: white;
    margin: 8em 4em 4em 4em;
}



.descricao{
    display:flex;
    flex-direction:row;
    Height:6em;
    margin-top: 2em;
    margin-left: 3em;
}




.barraR{

}


.titulo{
    font: 700 1.5em Roboto;
    
    margin-left: 1em;

}




.conteudo{
    margin-bottom: 4.5em;
    margin-left: 3em;
}




.lado1{
    display:flex;
    flex-direction:row;
    margin-left: 4em;
    
}




.pri{
    display:flex;
    flex-direction:row;
}


.no{
    font: 700 1em Roboto;
}



.seg{
    display:flex;
    flex-direction:row;
    margin-left: 2em;
}



.p{
    font: 700 1em Roboto;
}



.lado2{
    display:flex;
    flex-direction:row;
    margin-top: 1em;
    margin-left: 2.5em;
}



.ter{
    display:flex;
    flex-direction:row;
    font: 700 1em Roboto;
}



.ca{}




.qua{
    display:flex;
    flex-direction:row;
    font: 700 1em Roboto;
    margin-left: 1em;
}



.pp{}



.qui{
    display:flex;
    flex-direction:row;
    font: 700 1em Roboto;
}


.sexto{
    display:flex;
    flex-direction:row;
    font: 700 1em Roboto;
    margin-left: 2em;
}


.linkimagem{
    display:flex;
    flex-direction:row;
    font: 700 1em Roboto;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}


.li{
 
}


.linkimagem input{
    width: 37em;
}


.textareaa{
    display:flex;
    flex-direction:row;
    font: 700 1em Roboto;
    margin-left: 2.4em;
}


input, textarea{
    
    
    border: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: .5em;
    outline-style: auto;
}

input{
    width: 15em;
    height: 2em;
}

textarea{
    width: 37em;
    height: 8em;
}

.bota{
    margin-left: 1.5em;
    margin-top: -.3em;

}



.bota button{
    background-color:#119FDC;
    color:white;
    border:black;
    font: 700 1em Roboto;
    border-radius: 3em;
    padding: .5em .7em;
    margin-top: 5em;
}


.pt3{
    height: 24em;
    background-color: white;
    margin-left:4em;
    margin-right:4em;
    height:104vh;
}




.descricao2{
    display:flex;
    flex-direction:row;
    
    font: 700 1.5em Roboto;
    height: 2em;
    margin-top: 2em;
    margin-left: 2em;
}


.barraR2{}




.titulo2{
    font: 700 1em Roboto;
    height: 7em;
    
    margin-left: 1em;

}


.tabela{

    font: 700 1em Roboto;
    margin-left: 2em;
    margin-right: 2em;
    width: calc(100% - 4em);
    border-collapse: collapse;
    text-align: left;

}

th,td {
    padding: 1em;
 }



.campos{
    align-items: center;
    justify-content: space-between;
    background-color: #119FDC;
    color:white;
    height: 3em;
}




.resultados{
    justify-content: space-between;
}

.imaR img{
    width: 3em;
    height: auto;
}



.alterar{
    border-right: 10px solid transparent;
}

.alterar button{
    background-color:#565656;
    border-radius: 50%;
    padding: .4em .4em;
    border: none;
    margin-left: -2em;
}


.excluir{
    border-right: 10px solid transparent;
    border-radius: 5em;
}


.excluir button{
    background-color:#565656;
    border-radius: 50%;
    padding: .4em .4em;
    border: none;
    
}


.resultados2{
    justify-content: space-between;

}

















